@import "../default/_mixins";
@import "../default/_my__resetCss";
@import "../default/_fonts";
@import "../default/_my__1default_setings";
@import "_variables";

body {
	overflow-x: hidden;
	background-color: $bg;
	font-family: 'PTSans', sans-serif;
	&.substrate:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: 800;
		display: none;
		width: 100vw;
		height: 100vh;
		background: $dark_blue_50;
		@media screen and (max-width: 1024px) {
			display: block;
		}
	}
}
.btn {
	border-radius: 60px;
	padding: 18px 30px;
	display: block;
	width: max-content;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	@media screen and (max-width: 1024px) {
		font-size: 16px;
	}
	&-primary {
		color: $dark_blue;
		box-shadow: 4px 6px 0 0 $dark_blue;
		background-color: $orange;
	}
	&-second {
		color: $white;
		box-shadow: 4px 6px 0 0 $dark_blue;
		background-color: $sky_blue;
	}
}