@import '_variables';

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 40px;
	@media screen and (max-width: 1024px) {
		flex-direction: column;
		grid-gap: 10px;
		position: relative;
		z-index: 10;
	}
	&-wrapper {
		backdrop-filter: blur(20px);
		background-color: rgba(255, 255, 255, 0.8);
		border-radius: 20px;
		padding: 17px 50px;
		@media screen and (max-width: 1280px) {
			padding: 17px 16px;
		}
		@media screen and (max-width: 1024px) {
			display: block;
			padding: 0;
			background-color: transparent;
			backdrop-filter: none;
		}
	}
	&-first {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media screen and (max-width: 1024px) {
			padding: 17px 16px;
			width: 100%;
			backdrop-filter: blur(20px);
			background: rgba(255, 255, 255, 0.8);
			border-radius: 20px;
		}
	}
	&-logo {
		display: block;
		& picture {
			display: flex;
			& img {
				display: block;
				max-height: 44px;
			}
		}
	}
	&-burger {
		background-color: transparent;
		border: none;
		outline: none;
		padding: 0;
		display: none;
		cursor: pointer;
		@media screen and (max-width: 1024px) {
			display: flex;
		}
		&  .header-burger-close {
			display: none;
		}
		& picture {
			display: flex;
		}
		&.active .header-burger-open {
			display: none;
		}
		&.active .header-burger-close {
			display: block;
		}
	}
	&-second {
		flex: 0 2 692px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		grid-gap: 12px;
		@media screen and (max-width: 1024px) {
			display: none;
			width: 100%;
			flex-direction: column;
			grid-gap: 40px;
			padding: 30px 16px;
			flex: none;
			backdrop-filter: blur(20px);
			background: rgba(255, 255, 255, 0.8);
			border-radius: 20px;
			align-items: flex-start;
			position: absolute;
			left: 0;
			top: 88px;
		}
		&.active {
			display: flex;
		}
	}
	&-link {
		font-weight: 700;
		font-size: 16px;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: $dark_blue;
		@media screen and (max-width: 1024px) {
			font-size: 20px;
		}
	}
	&-dropdown {
		font-weight: 700;
		font-size: 16px;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: $dark_blue;
		border: none;
		padding: 0;
		background-color: transparent;
		display: flex;
		align-items: center;
		grid-gap: 4px;
		cursor: pointer;
		@media screen and (max-width: 1024px) {
			font-size: 20px;
		}
	}
}
