
@import "_default";
@import "_header";
@import "page-home/_page-home-hero";
@import "page-home/_page-home-why-this";
@import "page-home/_page-home-necessary";
@import "page-home/_page-home-for-whom";
@import "page-home/_page-home-studying";
@import "page-home/_page-home-program";

@import "page-home/_page-home-creator";
@import "page-home/_page-home-info";
@import "_footer";

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}